html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}

button, input[type=button], input[type=submit] {
  font-family: inherit;
  font-size: inherit;
  background-color: white;
  border: 4px solid black;
  border-radius: 8px;
  box-shadow: 0;
}

#main-canvas {
  width: 100%;
  height: 100%;
}

#ft-splash-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#ft-ending-splash {
  display: none;
  background-color: #f0da2c;
  margin-top: 30vh;
  min-height: 20vh;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 4px solid black;
}

#ft-ready-splash {
  display: none;
  pointer-events: none;
  margin-top: 30vh;
  text-align: center;
}

#ft-score-container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#ft-score {
  display: none;
  font-size: 3rem;
  color: #f0da2c;
  text-shadow: 2px 2px 0 black;
}

.toggle {
  position: absolute;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
}

.toggle-label {
  position: absolute;
  top: .5rem;
  cursor: pointer;
  right: .5rem;
  z-index: 1000;
}

#ft-info-splash {
  display: none;
  position: absolute;
  left: 25vw;
  font-size: .8rem;
  max-width: 50vw;
  margin-top: 10vh;
  background-color: white;
  border-radius: 1rem;
  text-align: left;
  padding: .5rem;
  box-sizing: border-box;

  .toggle:checked + & {
    display: inline-block;
  }
}
